.create-store-form {
	input {
		margin: 10px;
		width: 100%;
	}
}

.img-preview {
	text-align: center;
	margin-top: 10px;
}

.icon-preview {
	height: 40px;
	width: 40px;
}

.background-preview {
	height: 100px;
	width: 100px;
}