.store-detail-qupey-container{
	margin-top: 15px;
}

.store-detail-qupey-percent-container {
	float: left;
	padding: 15px;
	font-size: 20px;
}

.store-detail-qupey-top-container {
	background-color:rgb(103, 149, 202);
	color: white;
}

.store-detail-qupey-bottom-container {
	background-color:rgb(58, 105, 172);
	color: white;
	padding: 10px;
}

.store-detail-qupey-text-container {
	float: left;
	font-style: italic;
	padding: 20px;
}

.store-detail-qupey-expires-in {
	float: left;
	padding: 5px;
	padding-right: 10px;
}


.store-detail-qupey-use-myself {
	float: left;
	padding: 5px;
	padding-left: 10px;
}

.store-detail-qupey-share {
	float: right;
	padding: 5px;
}


