.store-icon {
	width: 60px;
	height: 60px;
	padding-left: 0px;
}

.store-info {
	
}

.store-name {
	margin-bottom: 0px !important;
}

.tagline {
	font-style: italic;
}

.no-pad-left {
	padding-left: 0px;
}