<top-nav></top-nav>
<br>
<br>
<div class="col-md-12">
<div class="text-center lead">Present this screen to the cashier!</div>
<div class="text-center lead">This qupey is for {{qupey.type.discount}}% off your total purchase at {{qupey.store.name}}.</div>
<!-- <div class="text-center">
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/UPC-A-036000291452.png/220px-UPC-A-036000291452.png"/>
</div> -->
<br>
<div class="text-center">
		<input class="qupey-code-input" placeholder="enter qupey code" ng-model="code">
</div>
<br>
<br>
<div class="text-center">
	<button class="btn btn-lg btn-primary" ng-click="redeemQupey()">Redeem Qupey</button>
</div>
</div>
