.user-login-container {
    background-color: #aecbeb;
    height: 100%;
}

.logo-image {
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
    
.google-plus-button {
	margin-top: 60px;
}