.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	float:none;
}

#top-nav {
	 border-radius: 0 !important;
	 background-color: #3a69ad;
	 border-color: #3a69ad;
}

.qupey-nav-item {
	color: #bfd0e8 !important;
}

.qupey-nav-icon {
	font-size: 25px;
}

.qupey-nav-brand {
	font-size: 30px;
}

.qupey-nav-find-stores{
	float: left;
}