<nav class="navbar navbar-inverse navbar-fixed-top" id="top-nav" role="navigation">
  <div class="navbar-header">
    <span ng-click="goToSearchStores()" class="glyphicon glyphicon-search qupey-nav-item qupey-nav-icon pull-left"></span>
    <span class="navbar-brand qupey-nav-item qupey-nav-brand" style="padding: 0;" ng-click="goToFeed()"><img style="height: 26px;" src="http://s11.postimg.org/vgexrey1f/Qupey_header_logo.png"></span>
    <span ng-click="goToMyStuff()" class="glyphicon glyphicon-cog qupey-nav-item qupey-nav-icon pull-right"></span>
  </div>
</nav>
<div style="height: 56px"></div>