
.contact-name-window {
	overflow: hidden !important;	
}

.contact-name {
	width: 95%;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid black;
	background-color: white;
	color: #6893CD;
	cursor: pointer !important; 
	margin-top: 10px;

	input {
		background-color: #6893CD;
		border: none;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		color: white;
		outline: none;
		padding: 0px 0px 1px 1px; 
	}
}