.store-detail-background-image  {
	width: 100%;
}

.store-detail-icon-image-container {
	margin-top: -23px;
}

.store-detail-icon-image {
	 width: 45px;
	 height: 45px;
}

.store-detail-store-name {
	font-weight: bold;
	font-size: 25px;
}

.store-detail-store-description {
	font-style: italic;
}











