.store-details {
	padding-top: 10px;
	font-weight: 200;
}

.less-right-padding {
	padding-right: 0px;
}

.store-detail-col {
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgb(164, 197, 233);
	height: 100vh;
}

.store-detail-container {
	// background-color: rgb(164, 197, 233);
}

.store-detail-background-image  {
	width: 100%;
}

.store-detail-icon-image-container {
	margin-top: -23px;
}

.store-detail-icon-image {
	 width: 45px;
	 height: 45px;
}

.store-detail-store-name {
	font-weight: bold;
	font-size: 25px;
	color: #002765;
}

.store-detail-store-description {
	padding-left: 30px;
	padding-right: 30px; 
	color: white;
	font-weight: 200;
	
}

.store-detail-line-break {
	border-color: black;
	width: 70%;
}

.store-detail-our-qupeys {
	font-weight: bold;
	color: #002765;
}

.store-detail-our-qupeys-description {
	font-style: italic;
	color: #002765;
}










