body {
	background-color: rgb(164, 197, 233);
	height: 100vh;
	color: black;
}

.store-details {
	padding-top: 10px;
	font-weight: 200;
}

.less-right-padding {
	padding-right: 0px;
}

.store-detail-col {
	padding-left: 0px;
	padding-right: 0px;
	background-color: rgb(164, 197, 233);
	height: 100vh;
}

.store-detail-container {
	// background-color: rgb(164, 197, 233);
}

.store-detail-background-image  {
	width: 100%;
	height: 200px;
}

.store-detail-icon-image-container {
	margin-top: -39px;
}

.store-detail-icon-image {
	 border: 3px solid white;
	 border-radius: 5px;
	 width: 75px;
	 height: 75px;
	 background-color: white;
}

.store-detail-store-name {
	font-weight: bold;
	font-size: 25px;
	color: #002765;
}

.store-detail-store-description {
	padding-left: 30px;
	padding-right: 30px; 
	color: white;
	font-weight: 200;
	
}

.store-detail-line-break {
	border: 1px solid #6795CA;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	margin: 0 auto;
}

.store-detail-our-qupeys {
	font-weight: bold;
	color: #002765;
}

.store-detail-our-qupeys-description {
	font-style: italic;
	color: #002765;
	padding-left: 30px;
	padding-right: 30px; 
}










