<div> 
	<div class="m-header use-myself-success-header">Success!</div>
	<div class="text-center use-myself-success-text">{{store.name}}'s Qupey has been saved to your account. Go to seetings > my Qupeys to view. Why not take a second to share this Qupey with a friend? If they redeem it, {{store.name}} will send you an even bigger discount. </div>
	<div class="text-center use-myself-modal-button-container">

		<button class="btn btn-lrg btn-primary" ng-click="goToQupey()"> View Qupey </button>

		<button class="btn btn-lrg btn-primary" ng-click="goToQupey()"> Share Qupey </button>
		<button class="btn btn-lrg btn-primary" ng-click="backToBrowsing()"> Back To Browsing </button>
	</div>
</div>
