<div> 
	<div class="m-header">Success!</div>
	<div class="m-content">{{store.name}}'s Qupey has been saved to your account. Go to seetings > my qupies to view. Why not take a second to share this Qupey with a friend? If they redeem it, Evolution will send you an even bigger discount. </div>
	<div class="text-center use-myself-modal-button-container">

		<button class="btn btn-lrg btn-success" ng-click="goToQupey()"> View Qupey </button>

		<button class="btn btn-lrg btn-warning" ng-click="goToQupey()"> Share Qupey </button>
		<button class="btn btn-lrg btn-primary" ng-click="backToBrowsing()"> Back To Browsing </button>
	</div>
</div>
